.pageStyle {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
  width: 210mm;
  height: 287mm;
  padding-top: 10mm;
}
.pageNumber {
  margin-top: 20px;
  /* font-family: 'Luckiest Guy', cursive; */
  /* font-size: 30px; */
}
/* @media print {
  .pageStyle {
    width : 21cm;
    height : 29.7cm;
  }
} */