
.pageStyle {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
  width: 210mm;
  height: 297mm;
}
.pageNumber {
  margin-top: 50px;
}
/* @media print {
  .pageStyle {
    width : 21cm;
    height : 29.7cm;
  }
} */