.ticketContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height : 150px;
  width : 400px;
  border: 2px solid rgb(255, 0, 98);
  border-radius: 10px;
  margin-top: 15px;
}
.headingContainer  {
  display: flex;
  flex-direction: row;

}
.ticketHeading {
  font-size: 15px;
  margin : 0;
  padding : 4px 0px;
}
.ticketCode {
  padding : 4px 0px;
  font-size: 15px;
  margin : 0px 0px 0px 20px;
}

hr {
  border: 1px solid rgb(0, 181, 248);
  width : 100%;
  margin : 0px;
}

.table {
  display: grid;
  grid-template-columns: repeat(9 , auto);
  grid-template-rows: repeat(3 , auto);
  justify-content: center;
  align-items: center;
  height : 100%;
  width : 100%;
  padding : 10px 5px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  background-color: white;
  /* height : 40px; */
  /* width : 40px; */
  height: 100%;
  width: 38px;
  border : 1.5px solid rgb(0, 181, 248);
}